<div class="row">
  <div class="col-md-12">
    <h1 mat-dialog-title>Confirmar Recarregamento</h1>
  </div>
</div>
<mat-dialog-content>
  <h4 class="mat-subheading-1">Voce tem certeza que quer recarregar? Ao pressionar o botão de confirmação, os dados do projeto base (BaseDomain) serão restaurados para o estado original.</h4>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="row" style="width: 100%;">
    <div class="col-md-6 text-right">
      <button mat-raised-button (click)="confirmDelete()" class="submit-button">Confirmar</button>
    </div>
    <div class="col-md-6 text-center">
      <button mat-raised-button mat-dialog-close class="cancel-button">Cancelar</button>
    </div>
  </div>
</mat-dialog-actions>