<div *ngIf="entities.length">
  <h1 mat-dialog-title>Escolha um Valor para Entidade</h1>
  <mat-dialog-content>
    <div *ngIf="entity === ''">
      <form>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Selecione a Entidade</mat-label>
          <input type="text" class="entity-auto-complete" aria-label="Entity" matInput [formControl]="entitiesControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getEntityValue($event.option.value)'>
            <mat-option *ngFor="let option of entityfilteredOptions | async" [value]="option.entity_name">
              {{option.entity_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div *ngIf="entity !== ''">
      <p class="mat-body-strong">Entidade: {{entity.entity_name}}</p>
      <p class="mat-body-strong">Descrição da Entidade: {{entity.entity_description}}</p>
      <div *ngIf="entity.entity_slot.type === 'categorical'">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-select placeholder="Entity Value" [(ngModel)]="chosen_entity_value">
            <mat-option *ngFor="let entity_value of entity.entity_slot.values" [value]="entity_value">
              {{entity_value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button (click)="chooseEntity()" color="primary">Confirmar</button>
  </mat-dialog-actions>
</div>
<div *ngIf="entities.length === 0">
  <h1 mat-dialog-title>Nenhuma Entidade</h1>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</div>