<div class="row">
  <div class="col-md-8">
    <h1 mat-dialog-title>Editar Detalhes da Entidade</h1>
  </div>
  <div class="col-md-4 text-right">
    <button *ngIf="appSource==='enterprise'" mat-raised-button class="remove-entity-button" (click)="removeEntity()">Deletar Entidade </button>
    <button *ngIf="appSource==='open'" mat-raised-button class="remove-entity-button-black" (click)="removeEntity()">Deletar Entidade</button>
  </div>
</div>
<mat-divider></mat-divider>
<br />
<div mat-dialog-content>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Entidade</mat-label>
      <input matInput disabled [(ngModel)]="entityName">
    </mat-form-field>
  </div>
  <div class="row entity-values">
    <mat-form-field appearance="outline">
      <mat-label>Descrição da Entidade</mat-label>
      <textarea matInput maxlength="140" [(ngModel)]="entityDescription" autofocus></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <span class="mat-body-strong">Selecionar o Slot da Entidade</span>
  </div>
  <div *ngIf="appSource==='enterprise'">
    <mat-radio-group [(ngModel)]="entitySlotType">
      <mat-radio-button value="text" (change)="setEntitySlotType($event)">Texto</mat-radio-button>
      <mat-radio-button value="bool" (change)="setEntitySlotType($event)">Boleano</mat-radio-button>
      <mat-radio-button value="categorical" (change)="setEntitySlotType($event)">Categoria</mat-radio-button>
      <mat-radio-button value="float" (change)="setEntitySlotType($event)">Real</mat-radio-button>
      <mat-radio-button value="list" (change)="setEntitySlotType($event)">Lista</mat-radio-button>
      <mat-radio-button value="unfeaturized" (change)="setEntitySlotType($event)">Não definido</mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="appSource==='open'">
    <mat-radio-group [(ngModel)]="entitySlotType">
      <mat-radio-button value="text" (change)="setEntitySlotType($event)">Texto</mat-radio-button>
      <mat-radio-button value="bool" (change)="setEntitySlotType($event)">Boleano</mat-radio-button>
      <mat-radio-button value="categorical" (change)="setEntitySlotType($event)">Categoria</mat-radio-button>
      <mat-radio-button value="float" (change)="setEntitySlotType($event)">Real</mat-radio-button>
      <mat-radio-button value="list" (change)="setEntitySlotType($event)">Lista</mat-radio-button>
      <mat-radio-button value="unfeaturized" (change)="setEntitySlotType($event)">Não definido</mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="entitySlotType==='categorical'" class="row entity-values">
    <mat-form-field appearance="outline">
      <mat-label>Valor do Slot da Entidade</mat-label>
      <textarea matInput [(ngModel)]="categorical_values"></textarea>
    </mat-form-field>
    <span class="mat-caption">Valores separados por virgula: New York,NYC,NY</span>
  </div>
  <div *ngIf="entitySlotType==='float'" class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Valor Minimo</mat-label>
        <input matInput [(ngModel)]="min_value">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Valor Maximo</mat-label>
        <input matInput [(ngModel)]="max_value">
      </mat-form-field>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-md-7">
  </div>
  <div class="col-md-5">
    <div mat-dialog-actions>
      <div class="col-md-6">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
      </div>
      <div class="col-md-6 text-right">
        <button *ngIf="appSource==='enterprise'" mat-raised-button class="entity-save-button" (click)="saveEntitySlotDetails()">Salvar</button>
        <button *ngIf="appSource==='open'" mat-raised-button class="entity-save-button-black" (click)="saveEntitySlotDetails()">Salvar</button>
      </div>
    </div>
  </div>
</div>