<h1 mat-dialog-title>Adicionar Entidade: {{entity_name}}</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <div class="row entity-values">
    <mat-form-field appearance="outline">
      <mat-label>Descrição da Entidade</mat-label>
      <textarea matInput maxlength="140" [(ngModel)]="entity_desc" #entityDescription="matInput"></textarea>
    </mat-form-field>
  </div>
  <div class="row">
    <span class="mat-body-strong">Selecione o Slot para a Entidade</span>
  </div>
  <div class="row">
    <mat-radio-group>
      <mat-radio-button value="text" (change)="setEntitySlotType($event)">Texto</mat-radio-button>
      <mat-radio-button value="bool" (change)="setEntitySlotType($event)">Boleano</mat-radio-button>
      <mat-radio-button value="categorical" (change)="setEntitySlotType($event)">Categoria</mat-radio-button>
      <mat-radio-button value="float" (change)="setEntitySlotType($event)">Real</mat-radio-button>
      <mat-radio-button value="list" (change)="setEntitySlotType($event)">Lista</mat-radio-button>
      <mat-radio-button value="unfeaturized" (change)="setEntitySlotType($event)">Não definido</mat-radio-button>
    </mat-radio-group>
  </div>
  <div *ngIf="show_entity_error" class="error">Selecione o valor do slot da Entidade.</div>
  <div *ngIf="entitySlotType==='categorical'" class="row entity-values">
    <mat-form-field appearance="outline">
      <mat-label>Slot da Entidade</mat-label>
      <textarea matInput [(ngModel)]="categorical_values"></textarea>
    </mat-form-field>
    <span class="mat-caption">Valores separados por virgula, ie: New York,NYC,NY</span>
    <div *ngIf="show_cat_error" class="error">O slot de Entidades não podem terminar por virgula.</div>
  </div>
  <div *ngIf="entitySlotType==='float'" class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Valor minimo</mat-label>
        <input matInput [(ngModel)]="min_value">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Valor máximo</mat-label>
        <input matInput [(ngModel)]="max_value">
      </mat-form-field>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="col-md-7">
  </div>
  <div class="col-md-5">
    <div mat-dialog-actions>
      <div class="col-md-6 text-left">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
      </div>
      <div class="col-md-6 text-left">
        <button *ngIf="appSource==='enterprise'" mat-raised-button class="entity-save-button" (click)="saveEntitySlotDetails()">Confirmar</button>
        <button *ngIf="appSource==='open'" mat-raised-button class="entity-save-button-black" (click)="saveEntitySlotDetails()">Confirmar</button>
      </div>
    </div>
  </div>
</div>