<div class="models-container">
  <div class="row add-model">
    <div class="col-md-12">
      <mat-form-field>
        <input matInput (keyup)="applyModelsFilter($event.target.value)" placeholder="Filtrar modelos">
      </mat-form-field>
    </div>
  </div>
  <div class="row projects-model-table-container">
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="projectsModelDataSource">

          <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let project">
              <mat-icon *ngIf="appSource==='enterprise'" svgIcon="project"></mat-icon>
              <mat-icon *ngIf="appSource==='open'" svgIcon="project-black"></mat-icon>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="project_name">
            <th mat-header-cell *matHeaderCellDef> Projeto </th>
            <td mat-cell *matCellDef="let project" class="project_name_text"> {{project.project_name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef> Fonte </th>
            <td mat-cell *matCellDef="let project"> {{project.source}} </td>
          </ng-container>

          <ng-container matColumnDef="model_name">
            <th mat-header-cell *matHeaderCellDef> Modelo </th>
            <td mat-cell *matCellDef="let project"> {{project.model_name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let project"> {{project.state}} </td>
          </ng-container>

          <ng-container matColumnDef="deploy">
            <th mat-header-cell *matHeaderCellDef> Ativação </th>
            <td mat-cell *matCellDef="let project" class="deploy">
              <mat-icon *ngIf="appSource==='enterprise'" svgIcon="deploy" (click)="deployModel(project._id.$oid)"></mat-icon>
              <mat-icon *ngIf="appSource==='open'" svgIcon="deploy-black" (click)="deployModel(project._id.$oid)"></mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="enable_edit">
            <th mat-header-cell *matHeaderCellDef> Edição </th>
            <td mat-cell *matCellDef="let project">
              <div *ngIf="project.edit === 'disabled'">
                <mat-slide-toggle [ngModel]="false" color="primary" (change)="enableEditProject($event, project._id.$oid)"></mat-slide-toggle>
              </div>
              <div *ngIf="project.edit === 'enabled'">
                <mat-slide-toggle [ngModel]="true" color="primary" (change)="enableEditProject($event, project._id.$oid)"></mat-slide-toggle>
              </div>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="projectsModelDisplayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: projectsModelDisplayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons (page)="getDeployPaginatorData($event)"></mat-paginator>
      </div>
    </div>
  </div>
</div>